@use '../utils/variables' as *;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding-left: 300px; 
  font-family: "Poppins", sans-serif;
  color: $primary;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;  
  color: $purple;
  text-decoration: inherit;

  &:hover {  
    color: $purple;
  }
}

.mt0{
  margin-top: 0;
}
.mt1{
  margin-top: 1rem;
}
.mt2{
  margin-top: 2rem;
}
.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: $primary;
    background-color: $white
  }

  a:hover {
    color: $purple;
  }

  button {
    background-color: #f9f9f9;
  }
}

*,*::after,*::before{
  box-sizing: border-box;
}


@media(max-width:1199px) {
  body {
    padding-left: 0; 
  }
  
}
