
.login {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background: linear-gradient(to right, #8376c0 50%, transparent 50%);
  .auth-form {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logo {
      width: 200px;
      margin: 0 auto 2rem;
    }
  }
  .studysync-intro{
    max-width: 650px;
    h1 {
      line-height: 1.2;
    }
    p {
      font-size: 1.25rem;
    }
  }
  > * {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    color: #fff;
  }
}
@media(max-width:1199px) {
  .login {
    background: linear-gradient(to right, #8376c0 60%, transparent 40%);
    .studysync-intro {
      h1 {
        font-size: 2.5rem;
      }
    }
    > * {
      padding: 3rem;
      &:first-child {
        width: 60%;
      }
      &:last-child {
        width: 40%;
      }
    }
  }
}

@media(max-width:991px) {
  .login {
    background: linear-gradient(to top, #8376c0 47%, transparent 47%);
    flex-direction: column-reverse;
    justify-content: space-around;
    .studysync-intro {
      h1 {
        font-size: 2.5rem;
      }
    }
    > * {
      padding: 2rem;
      &:first-child {
        width: 100%;
      }
      &:last-child {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .login {
    background: linear-gradient(to top, #8376c0 43%, transparent 43%);
    .studysync-intro {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .auth-form {
      width: 100%;
    }
  }
}