@use '../utils/variables' as *;

.btn-row {
  display: flex;
  gap: 1rem;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 0.65rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  font-family: inherit;
  min-height: 42px;
  position: relative;   
  display: flex;
  align-items: center;
  gap: .5rem;
  &.primary {
    background-color: $purple;
    color: $white;
    a {
      color: $white;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 42px;
    }
    &:hover {
      background-color: darken($purple, 10%);
    }
  }
  &.secondary {
    background: transparent;
    border: 2px solid $purple;
    color: $purple;

    &:hover {
      background-color: $purple1;
    }
  }
  &.ghost {
    background: transparent;
    color: $primary;

    &:hover {
      background-color: $grey;
    }
  }
}
