@use '../utils/variables' as *;

.goal-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 2rem 0;
  overflow: auto;
  flex-wrap: wrap;
  gap: 2rem;

  &:not(:last-child) {
    border-bottom: 1px solid $grey;
  }

  &::-webkit-scrollbar {
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background: $grey;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }

  .goal-card {
    background: linear-gradient(to bottom, hsl(220deg 20% 60% / 70%), hsl(200deg 15% 25% / 30%));
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    height: auto;
    margin-right: 2rem;
    color: #ffffff;
    transition: all 0.3s linear;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
      transition: all 0.3s linear;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

      .lucide-circle-x,
      .edit-overlay {
        opacity: 1;
      }

      button {
        margin-bottom: 2.5rem;
      }
    }

    button {
      width: 100%;
    }
  }

  .edit-overlay {
    // background: #6e669166;
    position: static;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    border-radius: 1rem;
    display: flex;
    align-items: end;
    padding: 1rem;
    transition: all 0.3s ease-in;
    opacity: 0;
  }

  .lucide-circle-x {
    position: absolute;
    top: -8px;
    right: -8px;
    opacity: 0;
    background-color: $primary;
    color: $white;
    transition: all 0.3s ease-in;
    border-radius: 100%;
    z-index: 9;
  }

  .lucide-trash-2 {
    display: none;
  }
}

// Responsive tweaks
@media(max-width: 1600px) {
  .goal-wrapper {
    .goal-card {
      margin-right: 20px;
    }
  }
}

@media(max-width: 767px) {
  .goal-wrapper {
    padding: 0;
    border: 1px solid #e4e4e4;
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: visible;
    flex-direction: column;

    .goal-card {
      margin: 0;
      width: 100%;
      height: auto;
      border-radius: 1rem 1rem 0 0;
      padding: 1.25rem;

      button {
        width: 80px;
      }

      &:hover,
      &:focus,
      &:focus-within,
      &:focus-visible {
        transform: none;
        box-shadow: none;

        button {
          margin-bottom: 0;
        }
      }

      h3 {
        margin-top: 0.5rem;
      }

      .mobile-btn-row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: space-between;
      }
    }

    .edit-overlay {
      opacity: 1;
      background: transparent;
      position: relative;
      top: auto;
      left: auto;
      border-radius: 1rem;
      padding: 0 !important;
      justify-content: end;
      gap: 0.5rem;
      width: auto;
      height: auto;
    }

    .lucide-trash-2 {
      display: inline-block;
    }

    .lucide-circle-x {
      display: none;
    }
  }
}
