@use '../utils/variables' as *;

.goal-wrapper {
  display: flex;
  padding: 2rem 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid $grey;
  }

  &::-webkit-scrollbar {
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background: $grey;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }

  .goal-card {
    background: var(--purple1);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-right: 0;
    transition: all 0.3s linear;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    padding-bottom: 3.5rem;

    h3 {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    p {
      word-wrap: break-word;
      margin-top: 0;
      margin-bottom: 1.5rem;
      transition: all 0.3s linear;
    }
    .progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $purple;
      border-radius: 0 0 1rem 1rem;
      display: flex;
      padding: 0.5rem 1.5rem;
      color: $white;
      align-items: center;
      justify-content: space-between;     
      gap: 1rem;
      p {
        margin-bottom: 0;
      }
    }
    span.finish-by {
      font-size: 12px;
    }
    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.1);
      .lucide-circle-x,
      .edit-overlay {
        opacity: 1;
      }
    }

    button {
      width: 100%;
    }
  }

  .edit-overlay {
    background: #6e669166;
    position: absolute;
    bottom: 0;
    right: 0;    
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    transition: all 0.3s ease-in;
    opacity: 0;
    padding-bottom: 3.5rem;
    svg {
      stroke: #000000;   
      position: absolute;
      bottom: 60px;
      left: 20px;
    }
  }
  .lucide-trash-2 {
    display: none;
  }
  .lucide-circle-x {
    position: absolute;
    top: -8px;
    right: -8px;
    opacity: 0;
    background-color: $primary;
    color: $whitebg;
    transition: all 0.3s ease-in;
    border-radius: 100%;
    z-index: 9;
  }
}
progress {
  height: 5px;
  appearance: none; 
  &::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
  }
  &::-webkit-progress-value {
    background-color: #3eca6d;
    border-radius: 10px;
  }
  &::-moz-progress-bar {
    background-color: #3eca6d;
    border-radius: 10px;
  }
  &.less-half {
    &::-webkit-progress-value {
      background-color: #FFC107;
    }
    &::-moz-progress-bar {
      background-color: #FFC107;
    }
  }
}

// Responsive tweaks

@media (max-width: 1500px){
  .goal-wrapper {
    .goal-card {
      max-width: 283px;
    }
  }
}
@media (max-width: 1366px){
  .goal-wrapper {
    .goal-card {
      max-width: 264px;
    }
  }
}
@media (max-width: 1280px){
  .goal-wrapper {
    .goal-card {
      max-width: 243px;
    }
  }
}
@media (max-width: 1199px){
  .goal-wrapper {
    .goal-card {
      max-width: 234px;
    }
  }
}
@media (max-width: 991px){
  .goal-wrapper {
    .goal-card {
      max-width: 232px;
    }
  }
}
@media(max-width: 767px) {
  .goal-wrapper {
    padding: 0;
    .goal-card {
      padding: 1.25rem;
      padding-bottom: 3.5rem;
      max-width: 100%;
      width: 100%;
      button {
        width: 80px;
      }
      &:hover,
      &:focus,
      &:focus-within,
      &:focus-visible {
        transform: none;
        box-shadow: none;
        button {
          margin-bottom: 0;
        }
      }

      h3 {
        margin-top: 0.5rem;
      }

      .mobile-btn-row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: space-between;
      }
    }

    .edit-overlay {
      opacity: 1;
      background: transparent;
      position: relative;
      top: auto;
      left: auto;
      border-radius: 1rem;
      padding: 0 !important;
      justify-content: end;
      gap: 0.5rem;
      width: auto;
      height: auto;
      margin-top: -22px;
    }
    .lucide-trash-2 {
      display: inline-block;
    }
    .lucide-circle-x {
      display: none;
    }
  }
}



@media (prefers-color-scheme: dark) {
  .goal-wrapper {
    .goal-card {
      background: $grey;
      border: 1px solid $grey1;
      &:hover {
        color: rgb(255 255 255 / 10%);
        .edit-overlay {
          background: transparent;
          svg {
            stroke: #ffffff;
          }
        }
      }
      .edit-overlay {
        background: transparent;
        svg {
          stroke: #ffffff;
        }
      }
    }
  }
  .goal-wrapper .goal-card .progress-bar {
    background: $grey1;
  }
}